*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Courier New', monospace;
}
body{
    background: url(images/bg.png) no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}


header{
    position:fixed;
    display: flex;
    font-size: 20px;
    align-items: flex-end;
    flex: 2;
    width: 100%;
    background: rgb(20, 20, 20);
}
.name{
    width: 50%;
    color: gray;
    padding-left:10%;
    padding-bottom: 10px;
    font-size: 700;
    font-size: 1.5em;
    cursor:default;
}


.menu{
    flex: 2;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height:60px;
}


.menu a{
    color:gainsboro;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    align-items: flex-start;
    width:20%;  
    text-align: center;
    height: 50px;
    top: 10px;
    padding-bottom: 20px;
}
.menu a:hover{
    color: gray;
    
}




.portfolio{
    padding-top: 50px;
    width:100%;
    min-height: 700px;
    padding: 0;
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.info{
    padding: 200px;
    height: 700px;
    width: 50%;
    text-align: center;
    padding-top: 300px;
}

.portfolio h3{
    color:white;
    text-align: left;
    font-weight: 900;
    font-size: 1.5em;
}

.portfolio h3 span{
    color:rgb(231, 231, 231);
    font-weight: 600;
    font-size: 4em;
    
}
.comm{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.about{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.por1{
    padding: 100px;
    font-size: 1.5em;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: gray;
}

.por2{
    width: 100;
    box-sizing: content-box;
    padding: 0 0 0 50px;
}

.por2 img{
    height: 700px;
    /* border-radius: 100px; */
}

.portf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(31, 31, 31);
    
    padding: 0;
    margin: 0;
    height: 300px;
}
.portf div , .lang div{
    background: inherit;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.portf h1 ,.lang h1{
    font-size: 2em;
    font-weight:bolder;
    text-shadow: 0px 0px 20px white;
}
.portf a, .lang h3{
    text-decoration: none;
    color:green;
    padding: 0px;
    font-weight: bold;
}
.langue{
    background-color:rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.langue h2{
    color: whitesmoke;
    padding-top: 50px;
    font-weight: 900;
    font-size: 2em;
    text-shadow: 0 0 20px gray;
}
.lang{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    
    padding: 0;
    margin: 0;
    height: 300px;
}

/* skills start here */


.skill h1{
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 3em;
}

.skills{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.skills div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:darkgray;
    border-radius: 5px;
    box-shadow: 0 0px 20px gray;
    padding:20px;
    width: 60%;
    overflow: hidden;
    margin: 20px;
    font-size: 1.2em; 
    box-sizing: border-box; 
}


.skills h3{
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    width: 400px;
}
.skills ul{
    list-style: none;
    padding:0 0 0 30px ;
    font-size: 1.2em;
}
.skills li{
    text-decoration:  none;
}
/* experiance start here */

.experiance h1{
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 3em;
}
.experiance{
    margin: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.work , .edu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center ;
    min-height: 100px;
    
}
.experiance h2{
    width: 200px;
    height-min:100px ;
    color: black;
    text-shadow: 0 0 10px gray;
}


/*  proeject starts here */


.projects h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 3em;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.project div{
    background-color: rgb(197, 197, 197);
    width: 25%;
    font-size: 1.5em; 
    box-sizing: border-box; 
}

.project h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    font-family: cursive;
}
.projects p,a{
    padding: 20px;
    text-decoration: none;

}
.projects a{
    justify-content: center;
}


/* information of conntacts */
.contacts{
    background-color: gray;
}
.contacts h1{
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 3em;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    
}
.contact div{
    padding: 20px;
}
.email{
    font-size: 1.5em;
    color: black;
}





