*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Courier New', monospace;
}
body{
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}


header{
    position:fixed;
    display: flex;
    font-size: 20px;
    align-items: flex-end;
    flex: 2;
    width: 100%;
    background: rgb(20, 20, 20);
}
.name{
    width: 50%;
    color: gray;
    padding-left:10%;
    padding-bottom: 10px;
    font-size: 700;
    font-size: 1.5em;
    cursor:default;
}


.menu{
    flex: 2;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height:60px;
    

}


.menu a{
    color:gainsboro;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    align-items: flex-start;
    width:20%;  
    text-align: center;
    height: 50px;
    top: 10px;
    padding-bottom: 20px;
}
.menu a:hover{
    color: gray;
    
}


section{
    padding: 20px;
}

.about{
    width:100%;
    min-height: 700px;
    padding: 0;
    
}
.info{
    height: 700px;
    padding-left: 100px;
    padding-top: 300px;
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.about h3{
    color:white;
    text-align: left;
    font-weight: 900;
    font-size: 1.5em;
}

.about h3 span{
    color:rgb(231, 231, 231);
    font-weight: 600;
    font-size: 4em;
    
}
.skill{
    background-color:rgb(226, 224, 224);
}
.skill h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.skills div{
    justify-content: center ;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    box-shadow: 0.4em 0 .4em gray;
    margin: 20px;
    width: 400px;
    font-size: 1.5em; 
    box-sizing: border-box; 
}

.skills h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    font-family: cursive;
}
.skills ul{
    list-style: none;
    padding:0 0 0 30px ;
    font-size: 1.2em;
}
.skills li{
    text-decoration:  none;
}

/*  proeject starts here */

.projects{
    background-color: gray;
}
.projects h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.project div{
    justify-content: center ;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    box-shadow: 0.4em 0 .4em black;
    margin: 20px;
    width: 400px;
    font-size: 1.5em; 
    box-sizing: border-box; 
}

.project h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    font-family: cursive;
}
.projects p,a{
    padding: 20px;
    text-decoration: none;

}
.projects a{
    justify-content: center;
}

/* information of conntacts */
.contacts{
    background-color: rgb(63, 63, 63);
}
.contacts h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}





